<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
        {{>header}}
        <p>
            push by sia is a good song man 
        </p>
        <img class="    portrait"src="/img/waifu.png">
         </div>
         {{>footer}}
    </body>
</html>